---
---
<html>
 <head>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title>Big Issues!</title>
    <style>{% include_relative bootstrap.min.css %}body{color: #fff;background-color: #555;}</style>
 </head>
 <body align="center">
   <div class="page-header">
     <h1>Big Issues</h1>
   </div>
   <div class="btn-group" role="group"> {% for episodeData in site.data.episodes %} {% assign episode = episodeData[1] %}
     <a class="btn btn-default" href="{{ episode.link }}" role="button" title="{{ episode.description }}">Episode {{ forloop.index }}: {{ episode.name }}</a>{% endfor %}
  </div>
 </body>
</html>
<!--

               `````.--....--.`````               
          ...-/+osyhddddh+osshhhys+/:-`.`         
       `.-+shddddd+/oo/:-..---/osyddddyo/.``      
    `--+ydddddddhs::::...```/o+++++sdddddho:.`    
   `.-::::-----.```.--::-```//+-:.-.:ydddddds-.   
  `.-````````````````````+hy+:--/oo/.`.+dddddh:.  
  `-````````````````````:ydds:`.+shNN+soydddddy.  
  `-```````````````-o`````:/`.:oydmMm/msddddddh.  
  ..````````.::.````y-`````-+:..-/ssoooddddddds`  
  `.-.````.sNMMMms/--h-``../-``-syohysdddddddy.`  
    `.-.`/NMMMMMMMMMNNNy/./y-```+/ssyddddddh/``   
      `-+mMMMMMMMMMMMho/oyhNmdhmMmddhdddhs/-`     
       ``.:+ymNmhso/:-./ydhyysoo++syhs+:.``       
           .`.--.....-oyyyyyyso++::--```          
                ```.`` ````   ````                
                                                  
-->
